<div id="<%= dom_id c_condominio %>">
  <p>
    <strong>Nome:</strong>
    <%= c_condominio.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= c_condominio.endereco %>
  </p>

  <p>
    <strong>Unidade:</strong>
    <%= c_condominio.unidade %>
  </p>

</div>
