<div id="<%= dom_id g_bairro %>">
  <p>
    <strong>Descricao:</strong>
    <%= g_bairro.descricao %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= g_bairro.g_municipio_id %>
  </p>

</div>
